.wiki_craft_list{
    position: absolute;
    right: 10px;
    top: 62px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    .wiki_craft_item{
        width: 50px;
        height: 50px;
        &:last-child::after{
                content: "";
                visibility: hidden;
                clear: both;
                height: 0;
        }
        &::after{
            content: "+";
            position: absolute;
            bottom: -14px;
            height: 20px;
            line-height: 20px;
            right: 0;
            left: 0;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            z-index: 1;
            color: #2d2d2d;
        }
        .ant-card-body{
            position: relative;
            width: 50px;
            height: 50px;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            .wiki_craft_item_cover{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                >img{
                    height: 100%;
                }
            }
        }
    }
}