#root{
    background: #fff;
    padding: 0;
}
.ant-layout{
    max-height: 100%;
    margin: 20px auto;
    max-width: 1200px;
}
.wiki_content{
    background: #fff;
    padding: 10px 20px;
    gap: 30px;
    height: 100%;
    .wiki_content_header{
        background: #fff;
        border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border-secondary);
        padding: 0 16px;
    }
    .wiki_tag{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .wiki_search_wrap{
            margin: 24px 0;
            .ant-form-item-control-input-content{
                margin: 0;
                display: flex;
                flex-wrap: nowrap;
                gap: 10px;
                .wiki_search{
                    flex-grow: 1;
                    margin: 0;
                    .ant-input{
                        height: 30px;
                        line-height: 30px;
                    }
                }
                .wiki_button{
                    margin: 0;
                }
            }
        }
        .wiki_tag_item{
            flex-grow: 1;
            width: 50%;
        }
    }
    .wiki_list{
        flex-grow: 1;
        background: #fff;
        gap: 16px;
        .wiki_item{
            flex-basis: calc(25% - 12px);
            position: relative;
            .ant-card-cover{
                display: flex;
                width: 100%;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                aspect-ratio:1 / 1;
                margin-bottom: 40px;
                .ant-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    align-content: center;
                    text-align: center;
                    .ant-image-img{
                        width: auto;
                    }
                }
            }
            .ant-card-body{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 40px;
                line-height: 40px;
                padding: 0;
                background: #f8f8f8;
                .ant-list-item-meta-title{
                    font-size: 18px;
                    margin: 0;
                    text-align: center;
                    color: #2e2e2e;
                }
            }
        }
    }
}