.wiki_content{
    background: #fff;
    padding: 10px 20px;
    gap: 30px;
    height: 100%;
    flex-grow: 1;
    .wiki_content_header{
        background: #fff;
        border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border-secondary);
        padding: 0 16px;
    }
    /* 过滤头部 */
    .wiki_tag{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .wiki_search_wrap{
            margin: 24px 0;
            .ant-form-item-control-input-content{
                margin: 0;
                display: flex;
                flex-wrap: nowrap;
                gap: 10px;
                .wiki_search{
                    flex-grow: 1;
                    margin: 0;
                    .ant-input{
                        height: 30px;
                        line-height: 30px;
                    }
                }
                .wiki_button{
                    margin: 0;
                }
            }
        }
        .wiki_tag_item{
            flex-grow: 1;
            width: 50%;
        }
    }

    /* 物品列表 */
    .wiki_list{
        flex-grow: 1;
        background: #fff;
        gap: 16px;
        width: 100%;
        align-items: flex-start;
        align-content: flex-start;
        .ant-empty{
            flex-grow: 1;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .wiki_item{
            flex-basis: calc(25% - 12px);
            position: relative;
            .ant-card-cover{
                display: flex;
                width: 100%;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                aspect-ratio:1 / 1;
                padding-bottom: 40px;
            }
            .ant-card-body{
                padding: 0;
                .wiki_item_container{
                    position: relative;
                    .wiki_item_cover{
                        display: flex;
                        width: 100%;
                        overflow: hidden;
                        justify-content: center;
                        align-items: center;
                        aspect-ratio:1 / 1;
                        padding-bottom: 40px;
                        .ant-image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            align-content: center;
                            text-align: center;
                            .ant-image-img{
                                width: auto;
                            }
                        }
                    }
                    .wiki_item_biome{
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        gap: 10px;
                        > img{
                            width: 40px;
                            height: 40px;
                            flex-shrink: 0;
                        }
                    }
                    .wiki_item_name{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        font-size: 18px;
                        margin: 0;
                        text-align: center;
                        color: #2e2e2e;
                        line-height: 40px;
                        line-height: 40px;
                        padding: 0;
                        background: #f8f8f8;
                    }
                }
            }
        }
    }
}