
html,body, div, section{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
}
#root{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.wiki_popover{
  .ant-popover-container{
    padding: 0;
    background: #2e323d;
  }
  .ant-popover-arrow{
    &::after{
      background: #2e323d;
    }
  }
  .wiki_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
  }
}
.wiki_layout{
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1200px;
    min-height: 100%;
    .wiki_header{
      text-align: center;
      color: #2e323d;
      font-size: 24px;
      height: 64px;
      line-height: 64px;
    }
}